h1{
    background-color: #202A44;
    color: white;
    /* color: red; */
    padding: 5px;
}
a{
    margin: 4px;
    font-size: 10px;
}
img{
    height: 80%

}
section{
    background-color: #E6E6E3;
    margin: 20px;
    padding: 10px;
}
p{
    font-size: 16px;
    margin: 2px;
}
/* #job{
    font-size: 20px;

}
#degree{
    font-size: 20px;
}
#school{
    font-size: 20px;
} */
.techinline{
    vertical-align: top;
    display: inline-block;
    margin: 20px;
    outline: #202A44;
}
.inline{
    width: 60%;
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
}
.techTitle{
    text-align: center;
    font-size: 30px;
    background-color: #202A44;
    color: white;
    padding: 2px;
}
.rightAlign{
    width: 35%;
    vertical-align: top;
    display: inline-block;
    text-align: right;
    font-size: 20px;
}
.image{
    text-align: center;
    display: inline-block;
    width: 30%;
}
header{
    color: black;
    height: 20px;
}
