h1{
    background-color: #202A44;
    color: white;
    padding: 5px;
}
a{
    margin: 4px;
    font-size: 10px;
}
img{
    height: 80%

}
section{
    background-color: #E6E6E3;
    margin: 10px;
    padding: 10px;
}
p{
    font-size: 16px;
}
#job{
    font-size: 20px;

}
div{
    display: inline-block;
    margin: 5px;
    padding: auto;
}
.techTitle{
    text-align: center;
    font-size: 20px;
}
#technologies{
    text-align: center;
}